@import url(./reset.css);

@font-face {
  font-family: "Pirat";
  src: url(./font/Pieces\ of\ Eight.ttf);
}
body {
  font-family: "Pirat", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgb(45, 37, 37);
  color: rgb(244, 217, 177);
}
.header {
  padding: 0.1vw;
  margin: 1vw;
  font-size: 4vw;
  text-align: center;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #555;
}
.main {
  display: flex;
  justify-content: center;
  max-width: 1440;
  width: 98%;

  margin: 0 auto;
}
.background-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.fild__wrapper {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.fild {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(244, 217, 177);
  border-radius: 5px;
}

.battlefild-name {
  position: absolute;
  top: 13%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #343232, 3px 3px 0 #333333;
}
.battlefild {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 54%;
  font-size: 1.5vw;
  line-height: 0px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(244, 217, 177);
  border-radius: 2px;
  border-collapse: collapse;
  background-color: rgb(45, 37, 37);
}
th {
  text-align: center;
  vertical-align: middle;
  width: 2.2vw;
  height: 2.2vw;
  border: 1px solid rgb(244, 217, 177);
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #343232, 3px 3px 0 #333333;
}
td {
  text-align: center;
  vertical-align: middle;
  width: 2.2vw;
  height: 2.2vw;
  border: 1px solid rgb(244, 217, 177);
}
td:hover {
  background-color: rgba(71, 69, 69, 0.889);
}
.harbor {
  position: absolute;
  top: 19%;
  left: 1%;
  padding: 1%;
  background-color: rgba(45, 37, 37, 0.525);
  max-width: 190px;
  width: 21%;
  height: auto;
  border: 2px solid rgb(244, 217, 177);
  border-radius: 2px;
}
.harbor h3 {
  margin-bottom: 10%;
  font-size: 1.1em;
}
.ship {
  width: max-content;
  display: flex;

  margin-bottom: 1%;
  border: 1px solid rgb(175, 145, 23);
}

.fild__form {
  position: absolute;
  top: 19%;
  right: 17px;
  max-width: 155px;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(45, 37, 37, 0.525);
  border: 2px solid rgb(244, 217, 177);
  border-radius: 2px;
}
.fild__form h3 {
  margin-bottom: 10px;
  font-size: 30px;
}
/* ------------------------------------------------------------Text aria */
.fild__form textarea {
  max-width: 145px;
  width: 100%;
  background-color: rgba(45, 37, 37, 0.712);
  border: 1px solid rgb(244, 217, 177);
  color: rgb(254, 237, 191);
  font-size: 17px;
  font-weight: 100;
  padding: 5px;
  margin-bottom: 10px;
  cursor: not-allowed;
}
.fild__form textarea:last-of-type {
  height: 100px;
  cursor: text;
  border: 1px solid rgba(244, 217, 177, 0.47);
}
.fild__form textarea:last-of-type:hover {
  border: 1px solid rgb(244, 217, 177);
}
/* ---------------------------------------------------------------Cell */
.cell {
  position: relative;

  width: 2.2vw;
  height: 2.2vw;
  background-color: rgba(45, 37, 37, 0.889);
  cursor: pointer;
}
.--is--target::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 2.2vw;
  height: 2.2vw;
  background-color: rgb(244, 217, 177);
  z-index: 3;
}
.--is--destroed {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 8.4%;
  height: 8.4%;
  background-size: contain;
  background-image: url(./img/fire.png);
  background-repeat: no-repeat;
  z-index: 2;
  line-height: 0px;
}
.--is--missed::before {
  display: block;
  content: "☠";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 1.5vw;
  line-height: 0px;
}
.--is--empty::after {
  content: "•";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 2px;
  font-size: 2.5vw;
  line-height: 0px;
}
/* -----------------------------------------------------Settings */
.settings-box {
  position: absolute;
  
  top: 24.5%;
  left: 23%;
  transform: translate(-50%, -50%);
  width: 54%;

  padding: 4% 3% 1%;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #343232, 3px 3px 0 #333333;
  background-color: rgba(45, 37, 37, 0.863);
  border: 1px solid rgba(244, 217, 177, 0.799);
  border-radius: 2px;
  z-index: 2;
  
  transform-origin: top center;
  animation: dropEffect 1s ease-out forwards;
}
.settings-box label {
  margin: 0px 0px 5px 5%;
}
.settings-btn {
  position: absolute;
  left: 38%;
  bottom: 10px;

  font-size: 3vw;
}
.settings__input-label:last-of-type {
  margin-bottom: 58%;
}


.btn {
  margin: 0 auto;
  padding: 2px 10px;
  color: rgba(253, 223, 177, 0.832);
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #555;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.btn:hover {
  color: rgb(254, 237, 191);
  border-bottom: 1px solid rgb(244, 217, 177);
}
.btn:active {
  transform: scale(0.95);
}

.preload-box {
  visibility: hidden;
  opacity: 0;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 54%;
  height: 50%;
  padding: 4% 3% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(244, 217, 177);
  border-radius: 2px;
  background-color: rgba(45, 37, 37, 0.907);
  font-size: 1.3rem;
  z-index: 2;
}
.preload-box h3,
.preload-box label {
  margin-bottom: 1%;
  color: rgb(254, 237, 191);
  font-size: 1.8rem;
  
}
.preload-box div{
  
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 2%;
 margin-bottom: 10%;

}
.preload-box input {
  width: 80%;
  padding: 1% 2%;
  border: 1px solid rgba(244, 217, 177, 0.799);
  border-radius: 3px;
  background-color: rgba(30, 25, 25, 0.889);
  color: rgb(254, 237, 191);
}
.copy-link__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 1px 2px;
  border: 1px solid rgba(244, 217, 177, 0.799);
  border-radius: 3px;
  background-color: rgba(30, 25, 25, 0.889);
}


@keyframes dropEffect {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-20px);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* ----------------------------------------------------------------------Media */
@media screen and (max-width: 1300px) {
  .fild__wrapper {
    
  }
  .settings-box {
    
  }
  .settings__input-label:last-of-type {
    margin-bottom: 48%;
  }
  .battlefild-name {
   
  }
  .harbor{
    
  }
  .preload-box div{
    margin-bottom: 2%;
  }

}


@media screen and (max-width: 1124px) {
  

  .settings__input-label:last-of-type {
    margin-bottom: 40%;
  }
  
  .harbor{
    top:12.5%;
  }
  .preload-box{
    padding: 4% 2% 1%;
    height: auto;
  }
  .preload-box h3,
  .preload-box label {
    
    color: rgb(254, 237, 191);
    font-size: 1.6rem;
  }



}
@media screen and (max-width: 922px) {
  .fild__wrapper {
    
  }
  .settings-box {
    font-size: 1.2rem;
  }
  .settings__input-label:last-of-type {
    margin-bottom: 40%;
  }
  .battlefild-name {
   
  }
  .harbor{
    
  }
  .preload-box{
    padding: 4% 1% 1%;
  }
  .preload-box h3,
  .preload-box label {
    font-size: 1.4rem;
  }
  .preload-box input{
    margin-bottom: 3%;
  }

}

@media screen and (max-width: 750px) {
  .fild__wrapper {
    
  }

  .settings-box {
    font-size: 1rem;
    padding: 4% 1% 1%;
  }
  .settings__input-label:last-of-type {
    margin-bottom: 27%;
  }
  .battlefild-name {
   
  }
  .harbor{
    top: 5%;
  }
  .preload-box{
    padding: 2% 1% 1%;
    font-size: 1rem;
  }
  .preload-box h3,
  .preload-box label {
    font-size: 1.2rem;
  }
}



@media screen and (max-width: 645px) {
  .fild__wrapper {
    
  }

  .settings-box {
    font-size: 0.8rem;
  }
  .settings__input-label:last-of-type {
    margin-bottom: 20%;
  }
  .battlefild-name {
   
  }
  .harbor{
    top: 5%;
  }
}
@media screen and (max-width: 550px) {
  .fild__wrapper {
    
  }

  .settings-box {
    font-size: 0.7rem;
  }
  .settings__input-label:last-of-type {
    margin-bottom: 10%;
  }
  .battlefild-name {
   
  }
  .harbor{
    top: 5%;
  }
  .preload-box{
    padding: 2% 1% 1%;
    font-size: 0.7rem;
  }
  .preload-box h3,
  .preload-box label {
    font-size: 1.1rem;
  }
  .preload-box{
    padding: 1% 1% 1%;
    font-size: 0.7rem;
  }
  .preload-box h3,
  .preload-box label {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  .fild__wrapper {
    flex-direction: column;
  }

  .battlefild {
width: 54%;
  }
  .settings-box {
    font-size: 1.1rem;
  }
  .settings__input-label:last-of-type {
    margin-bottom: 40%;
  }
  td{
    width:3em;
    height: 3em;
  }
  th{
    height: 3em;
    width: 3em;
  }
  .battlefild-name {
    font-size: 2rem;
  }
  .harbor{
    top: 34%;
  }
  .preload-box input{
    margin-bottom: 25%;
  }
  
}
